<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoloniexDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PoloniexDemo.Properties.Settings>
            <setting name="PublicKey" serializeAs="String">
                <value>0WC09R2L-B2A7IP6C-F3GH0X5B-X06SWQPM</value>
            </setting>
            <setting name="PrivateKey" serializeAs="String">
                <value>46c95e7065a51198707d8ef1d0429749809b2f4ba57ceb0d60e8c28ac5ba4c3f40c7236f0948b1ac31f1220b027f8b148561e828688f16256ceabd14d64813f2</value>
            </setting>
        </PoloniexDemo.Properties.Settings>
    </userSettings>
</configuration>